.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    font-family: 'Inter';
    margin: 0 auto;
    margin-bottom: 26px;
    max-width: 484px;

}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
  }