.page {
    background-color: #2A2C2F;
    background-size: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}