.intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    max-width: 690px;
    
}

@media screen and (max-width: 768px) {
    .intro__text {
      max-width: 720px;
    }
  }

  @media screen and (max-width: 320px) {
    .intro__text {
        font-size: 16px;
        line-height: 26px;
    }
  }