.cover__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    max-width: 560px;
    text-align: center;
}

@media screen and (max-width: 568px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}